SchemaTron/test/Resources/BadSchemas/bad_include_element.xml

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron">

  <!-- missing include.@href attribute -->
  <include />

  <!-- include is inside a disallowed element -->
  <pattern>
    <rule context="someContext">
      <assert test="someTest">
        <include href="bar.xml" />
      </assert>
    </rule>
  </pattern>
  
  <!-- invalid element inside active -->
  <include href="foo.xml">
    <fooElement />
  </include>

</schema>
