SchemaTron/test/Resources/BadSchemas/bad_emph_element.xml

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron">

  <pattern>
    <rule context="someContext">
      <assert test="assertTest">
        <!-- invalid element inside emph -->
        <emph>
          <fooElement />
        </emph>
      </assert>
    </rule>
  </pattern>

</schema>