SchemaTron/test/Resources/abspatterns_sch.xml

<?xml version="1.0" encoding="utf-8" ?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:pattern abstract="true" id="table">
    <sch:rule context="$table">
      <sch:assert test="$row">The element <sch:name/> is a table. Tables contain rows.</sch:assert>
    </sch:rule>
    <sch:rule context="$row">
      <sch:assert test="$entry">The element <sch:name/> is a table row. Rows contain entries.</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern is-a="table" id="HTML_table">
    <sch:param name="table" value="table"/>
    <sch:param name="row" value="tr"/>
    <sch:param name="entry" value="td|th"/>
  </sch:pattern>
</sch:schema> 
