SchemaTron/test/Resources/basics_xpath2_sch.xml

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xpath2">
  <ns prefix="soap" uri="http://www.w3.org/2001/12/soap-envelope" />
  <ns prefix="app" uri="http://www.w3schools.com/prices" />

  <pattern id="soapEnvelope">
    <rule id="r1" context="/">
      <assert test="soap:Envelope"/>
    </rule>
    <rule id="r2" context="/soap:Envelope/@soap:encodingStyle">
      <assert test=".='http://www.w3.org/2001/12/soap-encoding'"/>
    </rule>
    <rule id="r3" context="/soap:Envelope/soap:Header">
      <assert test="following-sibling::*[1][self::soap:Body]"/>
    </rule>
    <rule id="r4" context="/soap:Envelope/soap:Body">
      <assert test="true()"/>
    </rule>
    <rule id="r5" context="/soap:Envelope/*">
      <assert test="false()">Element <name/> is not allowed.</assert>
    </rule>
  </pattern>

  <pattern id="soapBody">
    <rule id="r1" context="/soap:Envelope/soap:Body">
      <assert test="count(app:GetPrice) eq 1"/>
    </rule>
    <rule id="r2" context="/soap:Envelope/soap:Body/app:GetPrice">
      <assert id="a1" test="count(app:Item) gt 0"/>
      <assert id="a2" test="10 gt count(app:Item)"/>
    </rule>
    <rule id="r3" context="/soap:Envelope/soap:Body/app:GetPrice/app:Item">
      <assert test="count(@id) eq 1"/>
    </rule>
    <rule id="r4" context="/soap:Envelope/soap:Body/app:GetPrice/app:Item/@id">
      <assert id="a1" test="number(.)"/>
      <assert id="a2" test="not(.=../preceding-sibling::app:Item/@id)">Attribute <name/>='<value-of select="."/>' must be unique.</assert>
      <assert id="a3" test="document('Resources/tobeincluded.xml')/systems/system[@group='idLookup']/code[@id=current()]">Invalid item ID -- must be in lookup table</assert>
    </rule>
    
  </pattern>

</schema>
